body{
    background-image: url(themeless.jpg);
}

header{
  background-image: url(header-back.jpg);
  height: 80px;

}
header p{
  font-size: 40px;
}
#logo{
  width: 70px;
  height: 70px;
  margin-bottom: 2px;
}

.icone{
  float: right;
}

#hamburger{
  width: 40px;
  height: 40px;
  margin-bottom: 9px;
  text-align: right;
  float: right;
  padding-top: 20px;
  padding-right: 15px;

}
section{
  padding-top: 10px;
  height: 100%;
  border-radius: 5px;
}

.art1{
  display: flex;
  align-items: left;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;

}

.loading{
  height: 250px;
  width: 250px;
  position: absolute;
  padding-left: 40px;
  position: absolute;
}

.num{
  font-weight: bold;
  display:inline-block;
  font-size: 40px;
  padding-left:135px;
  padding-top: 65px;
  position: absolute;

}

.pp{
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding-top: 250px;


}
.conditions{
  font-size: 26px;
  padding-left: 10px;
  padding-top: 10px;
}
